<!DOCTYPE html>
html.antialised.overflow-x-hidden(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')


        meta(name="theme-color" content="#0B0D17")
        meta(name="author" content="<your name> - implementation, frontendmentor.io - design")
        meta(name="description" content="A solution to the frontendmentor.io <insert challenge name> challenge")


        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)

        //- This is how to add fonts
        //- link(href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")
        //- This line to include the css is commented intentionally
        //- uncomment it AFTER you finished writing semantic HTML
        link(href="styles/index.scss" rel="stylesheet")


    body
        div.__confirmation-container
            div.__confirmation-box
                img(src="./assets/images/icon-success.svg").__confirmation-icon
                h1 Thanks for subscribing! 
                h2.__confirmation-text-gap A confirmation email has been sent to ash@loremcompany.com.
                    |Please open it and click the button inside to confirm your subscription.
                //- div.__group
                //-     p Email address
                //-     input.__form(name='email', value="", type="email", placeholder="email@company.com")
                button.__btn Dismiss message
